* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(145, 149, 156);
}

#root {

    nav {
        display: flex;
        justify-content: center;
        margin-top: 3%;

        .brand {
            margin-right: 3%;
        }

        .menu {
            margin-left: 3%;
        }
    }
    .cardBox{
        display:flex;
        justify-content: center;
        margin-top: 1rem;
        .card{
            text-align: center;
            background-color: papayawhip;
        }
    }
    

    .footer {
        display: flex;
        justify-content: center;

        .sponsors {
            margin-right: 30%;
            margin-left: 3%;
        }
    }
}