* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(145, 149, 156);
}

#root {

    nav {
        display: flex;
        justify-content: center;
        margin-top: 3%;

        .brand {
            margin-right: 3%;
        }

        .menu {
            margin-left: 3%;
        }
    }

    .movie {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        .movieTitle{
            margin-bottom: 0.4rem;
        }
        .moviePicture {
            img {
                border: 1px solid black;
                border-radius: 5px;
            }
        }

    }

    .footer {
        display: flex;
        justify-content: center;

        .sponsors {
            margin-right: 30%;
            margin-left: 3%;
        }
    }
}